In [1]:
%run glue.py

In [2]:
# How many records have data successfully harvested from Discogs?
len(df_popsike['release_id'].unique())

183

In [3]:
len(df_discogs['release_id'].unique())

263

In [4]:
# amount of records we have in both dataframes
unique_ids = df_popsike[df_discogs['release_id'].isin(
        df_popsike['release_id']
    )]['release_id'].unique()
print(len(unique_ids))

179

/home/ken/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
# NOTE NOTE NOTE NOTE TODO
# this doesn't actually work
df_both = df_popsike[df_discogs['release_id'].isin(df_popsike['release_id'])]

/home/ken/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df_both = df_both.reset_index()

In [20]:
# grab a random release
this_release = int(df_both.sample()['release_id'])

In [21]:
# see what we found on popsike
df_popsike[df_popsike['release_id'] == this_release]

     release_id  year                   title      artist min avg max
496      892170  2008  Harmony In Ultraviolet  Tim Hecker  63  63  63
497      892170  2009  Harmony In Ultraviolet  Tim Hecker  46  46  46
498      892170  2011  Harmony In Ultraviolet  Tim Hecker  34  34  34
499      892170  2013  Harmony In Ultraviolet  Tim Hecker  67  67  67
500      892170  2015  Harmony In Ultraviolet  Tim Hecker  30  30  30
501      892170  2016  Harmony In Ultraviolet  Tim Hecker  27  27  27
502      892170  2017  Harmony In Ultraviolet  Tim Hecker  28  28  28
503      892170  2018  Harmony In Ultraviolet  Tim Hecker  27  27  27

In [22]:
# see what we found on discogs
df_discogs[df_discogs['release_id'] == this_release]

,date,release_id,poor,fair,good,good_plus,vg,vg_plus,near_mint,mint
70,2019-05-10,892170,4.474719,8.949438,13.424157,22.373596,40.272472,58.171348,76.070225,85.019663
326,2019-05-07,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
582,2019-05-13,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
838,2019-05-15,892170,4.474719,8.949438,13.424157,22.373596,40.272472,58.171348,76.070225,85.019663
1094,2019-05-04,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
1351,2019-05-22,892170,4.392222,8.784444,13.176667,21.961111,39.530000,57.098889,74.667778,83.452222
1609,2019-05-11,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
1866,2019-05-23,892170,4.392222,8.784444,13.176667,21.961111,39.530000,57.098889,74.667778,83.452222
2125,2019-05-20,892170,4.392222,8.784444,13.176667,21.961111,39.530000,57.098889,74.667778,83.452222
2379,2019-05-01,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
2616,2019-05-02,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
2872,2019-05-12,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
3124,2019-04-19,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
3362,2019-05-17,892170,4.441450,8.882900,13.324349,22.207249,39.973048,57.738848,75.504647,84.387546
3621,2019-05-16,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
3880,2019-05-19,892170,4.425000,8.850000,13.275000,22.125000,39.825000,57.525000,75.225000,84.075000
4139,2019-05-21,892170,4.392222,8.784444,13.176667,21.961111,39.530000,57.098889,74.667778,83.452222
4397,2019-05-03,892170,4.425000,8.850000,13.275000,22.125000,39.825000,57.525000,75.225000,84.075000
4653,2019-05-05,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
4910,2019-05-25,892170,4.441573,8.883146,13.324719,22.207865,39.974157,57.740449,75.506742,84.389888
5168,2019-05-09,892170,4.474719,8.949438,13.424157,22.373596,40.272472,58.171348,76.070225,85.019663

In [ ]:
# TODO:

# EDA: 
# - Match up min/avg/max with qualities
# --- is there a programmatic/statistically valid way to do this?
# - visualize price data over time, test a few different averaging
#   methods
# - 
#
#